* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/******* CONTAINER FULL WIDTH COLORATI *********/

.container-fullwidth-blu {
  background-color: #0d325a;
  overflow: hidden;
}

.container-fullwidth-grigio {
    background-color: #F9F9F9;
}

.container-fullwidth-bianco {
  background-color: lightyellow;
}

/************ CONTAINER (width 80% maxwidth 1200px) ****/
.container-blu {
  background-color: darkslateblue;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.container-grigio {
  background-color: #F9F9F9;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.container-bianco {
  width: 80%;
  background-color: lightyellow;
  max-width: 1200px;
  margin: 0 auto;
  /*temporaneo*/
  height: 500px;
}

/************* SEZIONE HEADER *****************/
header {
  width: 100%;
  /*temporaneo*/
  background-color: #0d325a;
  position: relative;
  padding: 2%;
}

.box-logo {
  width: auto;
  position: relative;
  display: inline-block;
  margin-right: 40px;
  float: left;
}

.box-logo:hover {
    cursor: pointer;
}

.navbar1 {
  display: inline-block;
  float: left;
  margin-top: 16px; /*da sistemare*/
}

.navbar2 {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 10px;
  height: max-content;
}



.navbar1 li,
.navbar2 li {
  display: inline-block;
  font-size: 0.8em;
}

.navbar1 li a,
.navbar2 li a {
  list-style: none;
  text-transform: uppercase;
  margin-right: 10px;
  color: #ffffff;
}

.navbar1 a:link,
.navbar2 a:link {
  text-decoration: none;
}

.navbar1 a:hover {
  color: #f8b71c;
}

.navbar2 ul li a:first-child {
    color: gray;
}

.bottone2 {
    background-color: #7FB802;
    border: none;
    height: 20px;
    border-radius: 5px;
    height: 32px;
    color: #ffffff;
    width: 180px;
}

.bottone-trasparente {
    background-color: transparent;
    
    color: #ffffff;
    border-radius: 5%;
    padding: 2px;
    margin-right: 20px;
    width: 90%;
    height: 20px;
    border-radius: 5px;
    height: 32px;
    border: 1px solid rgb(121, 138, 236);
}

.bottone-trasparente:hover, .bottone2:hover {
    cursor: pointer;
}

/************** SEZIONE BANNER (OMINI) ************/

.banner {
  background-color: #0d325a;
  /*provvisorio*/
  height: 300px;
  position: relative;
}

.riquadro {
  height: 70%;
  width: 50%;
  /*background-color: yellow;*/
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.box-testo {
  height: 45%;
  width: 80%;
  font-family: montserrat;
  font-size: 30px;
  color: #ffffff;
}

.box-bottone {
  height: 25%;
  width: 80%;
}

.bottone-slogan {
  background-color: #7fb802;
  border: none;
  border-radius: 5%;
  height: 100%;
  width: 200px;
  color: #ffffff;s
}

.bottone-slogan:hover {
  cursor: pointer;

}

.box-omini {
    width: 100%;
    height: 100%;
    z-index: 20;
}


.omini {
    width: 850px;
    position: relative;
    left: 650px;
    height: 100%;

}
/***************** SEZIONE GRIGIA DIVISORIA*********/

.sezione-grigia {
  /* temporaneo */
  background-color: #F9F9F9;
  text-align: center;
  padding: 3%;
}

/***************** SEZIONE GRANDE CON COLONNE ********/
.sezione-grande {
  /*provvisorio*/
  height: 430.4px;
  background-color: rgb(250, 239, 201);
}

.colonna {
  width: 33.33333%;
  /*provvisorio*/
  border: 1px solid darkslategrey;
  float: left;
}

.hr-piccola {
  width: 20%;
  margin: 0 auto;
}

.scatola-scritta h2 {
  text-align: center;
}

.sezione-grigia h2 {
    font-size: 18px;
    padding: 1.5%;
}

.sezione-grigia h3 {
    color: #999999;
    font-size: 15px;
    padding-bottom: 1%;
}